.vscode/**
*.dSYM/**
game
obj/**
bin/**
lib/**
dist/**
worlds/**
worlds/
MinecraftCloneSimple/**
MinecraftCloneSimple/
*.DS_Store
.vscode/**
.vscode/
*.sconsign.dblite
shaders/**
VulkanSDK/**
traces/**